                * {
                    margin: 0;
                    padding: 0;
                }
                
                .wrapper {
                    width: 900px;
                    margin: 0 auto;
                }
                
                p {
                    font-size: 16px;
                    font-family: Roboto;
                    color: #004488;
                    line-height: 24px;
                    padding-bottom: 5px;
                }
                
                h4 {
                    font-size: 22px;
                    font-family: Roboto;
                    color: #1E1E1E;
                    line-height: 32px;
                }
                
                header {
                    width: 100%;
                    height: 80px;
                    background-color: #161616;
                }
                
                header nav {
                    width: 100%;
                    height: 100%;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                }
                
                header nav div {
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                }
                
                header nav div h3 {
                    font-size: 34px;
                    font-family: Roboto;
                    color: #fff;
                    padding-left: 40px;
                }
                
                header nav div .menu-main {
                    width: fit-content;
                    height: fit-content;
                    list-style: none;
                    margin-left: 26px;
                }
                
                header nav div .menu-main li {
                    display: inline-block;
                }
                
                header nav div .menu-main li a {
                    font-size: 16px;
                    font-family: Roboto;
                    color: #fff;
                    text-decoration: none;
                    padding: 10px 16px;
                }
                
                header nav .menu-member {
                    width: fit-content;
                    height: fit-content;
                    list-style: none;
                    margin-right: 40px;
                }
                
                header nav .menu-member li {
                    display: inline-block;
                }
                
                header nav .menu-member li a {
                    font-size: 16px;
                    font-family: Roboto;
                    color: #fff;
                    text-decoration: none;
                    padding: 10px 16px;
                }
                
                .header-login-a {
                    background-color: #3F97EF;
                    border-radius: 4px;
                }
                
                header a:hover {
                    opacity: 80%;
                }
                
                .header-login-a:hover {
                    background-color: #2073C7;
                    opacity: 100%;
                }
                
                .index-login {
                    width: 100%;
                    padding-bottom: 100px;
                }
                
                .index-login .wrapper {
                    display: flex;
                    justify-content: flex-start;
                }
                
                .index-login input {
                    width: 220px;
                    height: 34px;
                    border-radius: 6px;
                    border: 1px solid #CCCCCC;
                    background-color: #EEEEEE;
                    font-family: Roboto;
                    font-size: 16px;
                    padding-left: 12px;
                    margin-bottom: 8px;
                }
                
                #reciepts input {
                    width: 280px;
                    padding-left: 0px;
                }
                
                .index-login button {
                    width: fit-content;
                    height: 34px;
                    border-radius: 6px;
                    border: none;
                    background-color: #3F97EF;
                    font-family: Roboto;
                    font-size: 16px;
                    color: #fff;
                    line-height: 16px;
                    padding: 10px 16px;
                    cursor: pointer;
                }
                
                .index-login button:hover {
                    background-color: #2073C7;
                }
                
                .index-login-signup {
                    max-width: 20%;
                    min-width: 350px;
                    margin-top: 80px;
                    padding-left: 20px;
                    align-items: center;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    /* Add padding */
                    padding: 10px 20px;
                    /* Add white background color */
                    background-color: white;
                    /* Add rounded corners */
                    border-radius: 10px;
                    text-align: center;
                }
                
                .index-login-signup p {
                    color: #1E1E1E;
                    padding: 6px 0 10px;
                }
                
                .index-login-signup hr {
                    background-color: #3F97EF;
                }
                
                .index-login-signup button {
                    margin: 10px 0px 10px 0px;
                }
                
                .index-login-signup h4 {
                    color: rgb(59, 59, 59);
                    padding: 10px 0 10px;
                    font-size: 1.5rem;
                    font-family: Arial, Helvetica, sans-serif;
                }
                
                .index-login-signup h3 {
                    color: rgb(59, 59, 59);
                    padding: 10px 0 10px;
                    font-size: 1.5rem;
                    font-family: Arial, Helvetica, sans-serif;
                }
                
                .index-login-login {
                    width: 20%;
                    padding: 15px 0 15px 0;
                    background-color: #161616;
                    border-radius: 10px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%)
                }
                
                .index-login-login h4 {
                    color: #fff;
                }
                
                .index-login-login p {
                    padding: 6px 0 10px;
                }
                
                .index-login-login form {
                    width: 232px;
                }
                
                .index-login-login form button {
                    display: block;
                    margin: 0 auto;
                }
                
                #index {
                    background-image: url(https://img.freepik.com/free-vector/background-design-with-lines-blue-background_1308-4823.jpg?w=996&t=st=1673818861~exp=1673819461~hmac=c59c248e793eef27beb9501c6ac37c022bb54a6ebc4503c52cbfd7c7dc8f1a12);
                    background-attachment: fixed;
                    background-size: 100% 100%;
                }
                
                #container {
                    max-width: 80%;
                    margin: auto;
                    background-color: #f8f9fa;
                }
                
                table {
                    border-collapse: collapse;
                    width: 100%;
                    background-color: white;
                }
                
                th,
                td {
                    text-align: left;
                    padding: 10px 15px 10px 15px;
                }
                
                th {
                    background-color: #00425c;
                    /* light blue */
                    color: white;
                }
                
                tr:nth-child(even) {
                    background-color: #d9f6ff;
                }
                
                .print-button {
                    background-color: #0086bb;
                    /* light blue */
                    border: none;
                    color: white;
                    padding: 8px 16px;
                    text-align: center;
                    text-decoration: none;
                    font-size: 16px;
                    cursor: pointer;
                    width: 120px;
                    border-radius: 5px;
                }
                
                .print-button:hover {
                    background-color: #91e7ff;
                    color: black;
                    /* lighter blue */
                }
                
                .edit-button,
                .delete-button {
                    background-color: #00425c;
                    /* light blue */
                    border: none;
                    color: white;
                    padding: 8px 16px;
                    text-align: center;
                    text-decoration: none;
                    display: inline-block;
                    font-size: 16px;
                    float: right;
                    cursor: pointer;
                    width: 150px;
                    border-radius: 5px;
                }
                
                .toggle-form,
                .button-emp,
                .show-reciepts {
                    background-color: #00425c;
                    /* light blue */
                    border: none;
                    color: white;
                    padding: 8px 16px;
                    text-align: center;
                    text-decoration: none;
                    display: inline-block;
                    font-size: 16px;
                    cursor: pointer;
                    width: 150px;
                    border-radius: 5px;
                    margin-bottom: 10px;
                }
                
                .home-btn-1 {
                    background-color: #00425c;
                    /* light blue */
                    border: none;
                    color: white;
                    padding: 8px 16px;
                    text-align: center;
                    text-decoration: none;
                    display: inline-block;
                    font-size: 16px;
                    cursor: pointer;
                    width: 200px;
                    border-radius: 5px;
                }
                
                .home-btn {
                    background-color: #00425c;
                    /* light blue */
                    border: none;
                    color: white;
                    padding: 8px 16px;
                    text-align: center;
                    text-decoration: none;
                    display: inline-block;
                    font-size: 16px;
                    cursor: pointer;
                    width: 200px;
                    border-radius: 5px;
                    margin-top: 10px;
                }
                
                .submit-btn {
                    background-color: #00425c;
                    /* light blue */
                    border: none;
                    color: white;
                    padding: 8px 16px;
                    text-align: center;
                    text-decoration: none;
                    display: inline-block;
                    font-size: 16px;
                    cursor: pointer;
                    width: 150px;
                    border-radius: 5px;
                }
                
                .show-reciepts:hover,
                .home-btn-1:hover,
                .home-btn:hover,
                .submit-btn:hover,
                .toggle-form:hover,
                .delete-button:hover,
                .edit-button:hover,
                .button-emp:hover {
                    background-color: #0080b3;
                }
                
                .edit-button {
                    margin-right: 8px;
                    /* add a small gap between the two buttons */
                }
                
                section {
                    margin-top: 25px;
                }
                
                .container {
                    margin-top: 20px;
                    display: flex;
                    justify-content: center;
                    background-color: white;
                    border-radius: 8px;
                    max-width: 60%;
                    margin: 0 auto;
                    text-align: center;
                    padding: 10px 0 20px 0;
                }
                
                .container-user-hours {
                    margin-top: 20px;
                    margin: 20px auto;
                    display: flex;
                    justify-content: center;
                    background-color: white;
                    border-radius: 8px;
                    max-width: 60%;
                    text-align: center;
                    padding: 10px 0 20px 0;
                }
                
                .container-user-hours input,
                select {
                    width: 220px;
                    height: 34px;
                    border-radius: 6px;
                    border: 1px solid #CCCCCC;
                    background-color: #EEEEEE;
                    font-family: Roboto;
                    font-size: 16px;
                    padding-left: 12px;
                    margin-bottom: 8px;
                }
                
                .row {
                    min-width: 60%;
                }
                
                .container-2,
                .contract {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                }
                
                .container-2,
                hr {
                    width: 100%;
                    margin-top: 20px;
                    overflow: hidden;
                }
                
                input[type=file]::file-selector-button {
                    margin-right: 20px;
                    border: none;
                    background: #00425c;
                    padding: 10px 20px;
                    color: #fff;
                    cursor: pointer;
                    transition: background .2s ease-in-out;
                }
                
                input[type=file]::file-selector-button:hover {
                    background: #0080b3;
                }
                
                input[type="file"] {
                    margin-bottom: 10px;
                    margin-top: 10px;
                }
                
                #customFile {
                    flex: none;
                    padding: 0;
                }
                
                .button {
                    align-self: flex-start;
                }
                
                .contract-upload {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                }
                
                .form-disp {
                    display: none;
                }
                
                hr {
                    border: 1px solid #56cfff;
                    /* light blue */
                    margin: 10px 0 10px 0;
                }
                
                label {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    text-align: right;
                    width: 400px;
                    line-height: 26px;
                    margin-bottom: 10px;
                }
                
                input {
                    height: 20px;
                    flex: 0 0 50px;
                    margin-left: 10px;
                }
                
                .table {
                    margin: 0 auto;
                    max-width: 60%;
                }
                
                @media (max-width: 767px) {
                    .wrapper {
                        max-width: 95%;
                    }
                    .table,
                    .container {
                        max-width: 95%;
                    }
                    td.table-btns {
                        display: flex;
                        flex-direction: column;
                        align-items: flex-end;
                        text-align: center;
                        gap: 8px;
                    }
                    /* make all the buttons inside the td same size */
                    td.table-btns button {
                        width: 100px;
                    }
                    td.active {
                        text-align: center;
                    }
                }
                
                td.active {
                    text-align: right;
                    padding-right: 100px;
                }
                
                .name-td {
                    font-weight: bold;
                    font-size: 1.25em;
                }
                
                .container input {
                    width: 220px;
                    height: 34px;
                    border-radius: 6px;
                    border: 1px solid #CCCCCC;
                    background-color: #EEEEEE;
                    font-family: Roboto;
                    font-size: 16px;
                    padding-left: 12px;
                    margin-bottom: 8px;
                }
                
                .no-hours {
                    text-align: center;
                    font-size: 1.5em;
                    font-weight: bold;
                    margin-top: 20px;
                    color: red;
                }
                
                #show-hours {
                    float: none;
                }
                
                .x-del {
                    padding: 10px;
                    background-color: red;
                    border: none;
                    border-radius: 5px;
                    color: white;
                }
                
                .x-del:hover {
                    background-color: rgb(255, 141, 141);
                }
                
                .head-table {
                    background-color: #00293a;
                    color: white;
                    padding: 10px 0 10px 0;
                    text-align: center;
                }
                
                .table-wrapper {
                    min-width: 95%;
                    display: flex;
                    justify-content: center;
                }
                /* make so heaeder is not displayed when printing */
                
                @media print {
                    header {
                        display: none;
                    }
                    .x-del {
                        display: none;
                    }
                    .print-button {
                        display: none;
                    }
                    .hours {
                        display: none;
                    }
                }